body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #497e76;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #3f615b;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    background-color: #555;
}

nav .custom-link {
    color: #fff;
}

nav .custom-link:hover {
    background-color: #555;
}


.container {
    margin-top: 20px;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.card-img-container {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-top {
    min-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.card-body {
    flex: 2;
    padding: 20px;
}

.social-buttons {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-buttons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #3f615b;
    color: #fff;
    border-radius: 50%;
    margin: 0 10px;
    font-size: 24px;
}

.footer {
    background-color: #497e76;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
}

/* Formulier */
form {
    background-color: #ddd;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #555;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #497e76;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #3f615b;
}

.map-container {
    width: 100%;
    padding-top: 56.25%; 
    position: relative;
  }
  
  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  