body {
    font-family: Arial, sans-serif;
    overflow-y: hidden;
  }
  
  header {
    background-color: #497e76;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  nav {
    background-color: #3f615b;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin: 0 10px;
  }
  
  nav a:hover {
    background-color: #555;
  }

  nav .custom-link {
    color: #fff;
}

nav .custom-link:hover {
    background-color: #555;
}

  
  #content {
    background-color: white;
    opacity: 0.9;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    max-width: 80%;
  }
  
  h1 {
    color: black;
    text-align: center;
  }
  
  table {
    width: 100%;
    overflow: hidden;
  }
  
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
  }
  
  .img-fluid {
    max-height: 100%;
  }
  
  .profile-image {
    height: 100%;
    object-fit: cover;
  }
  
 
  .carousel-text {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    padding: 20px;
    text-align: left;
  }


  .carousel-item {
    min-height: 400px;
    position: relative;
  }

  .carousel-control-prev, .carousel-control-next {
    z-index: 2;
  }