/* Standaard opmaak bovenkant */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #497e76;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #3f615b;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    background-color: #555;
}

/* Opmaak container */
.container {
    display: flex;
}

/* Opmaak lijst */
.list {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #497e76;
    color: #000;
    text-align: center;
    
}

.list ul {
    list-style-type: none;
    padding: 0;
}

.list li {
    margin-bottom: 10px;
}

/* Opmaak content */
.content {
    width: 65%;
    padding: 20px;
    box-sizing: border-box;
}

.paragraph1,
.paragraph2 {
    font-family: Arial, sans-serif;
    border: 2px solid #000000;
    border-radius: 25px;
    padding: 50px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
}

.paragraph1 img,
.paragraph2 img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 20px;
    top: 0;
}

.paragraph1 p,
.paragraph2 p {
    width: 60%;
}
