body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://i.imgur.com/iVX3SxO.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

header {
    background-color: #497e76;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

nav {
    background-color: #3f615b;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    background-color: #555;
}

#content {
    background-color: white;
    opacity: 0.9;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    max-width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#content img {
    max-width: 400px;
    height: auto;
    margin-right: 20px;
}

#content div {
    text-align: center;
}

#content p {
    margin: 10px 0;
}

h1 {
    color: black;
    text-align: center;
    margin-top: 20px;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse; 
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


th:first-child,
td:first-child {
    background-color: #f2f2f2;
}