body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #497e76;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #3f615b;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    background-color: #555;
}
.content {
    padding: 20px;
    overflow: hidden;
}

.content h2 {
    clear: both;
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: left;
}

.content p {
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: left;
}

.content img {
    float: right;
    margin-left: 20px;
    max-width: 200px; /
    max-height: 200px; 
}

.content h2 {
    clear: both;
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: inline-block;
    text-align: left;
}

.content img {
    max-width: 200px;
    max-height: 200px;
    vertical-align: middle;
}


/*test*/
.paragraaf {
    font-family: Arial, sans-serif;
    border: 2px solid #000000;
    border-radius: 25px;
    background-color: #497e76;
    padding: 50px 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(0, 0, 0);
    font-style: italic;
    width: 80%;
    margin: auto;
    padding-bottom: 50px
    }